@import "../../global.scss";
.portfolio{
    background-color: white;
    padding-top: 80px;
    padding-bottom: 1px;

    .wrapper{
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        padding: 0 12%;

        h2{
            text-transform: uppercase;
            margin: 0 0 10px;
            letter-spacing: 0.06rem;
            font-size: 1.2rem;
        }
    
        h2.light{
            color: $mainColor;
        }
    
        h3{
            font-size: 2.1rem;
            text-transform: capitalize;
            line-height: 1.3;
            margin: 0 0 5rem;
            color: lightskyblue
        }

        .work-container{
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            flex-direction: row;
            flex-wrap: nowrap;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: start;
            align-items: center;
            margin-bottom: 8.2rem;

            .container-img{
                width: 55%;
                padding-top: 25px;
                margin: 0 60px;
                display: inline-block;

                img{
                    display: block;
                    width: 100%;
                    min-width: 100%;
                    border-radius: 10%;
                }
            }
        }

        .text-container{
            -webkit-box-original-group: 0;
            order: -1;
            padding-left: 0;
            width: 45%;
            display: inline-block;

                h4{
                    color: $mainColor;
                    font-size: 30px;
                    margin-bottom:20px;
                }

                p{
                    font-size: 22px;
                }

                .btn{
                    margin-bottom: 7px;
                    margin-top: 10px;
                    background-color: lightskyblue;
                    position: relative;
                    display: inline-block;
                    padding: 1rem 1.5rem 1rem;
                    border: none;
                    margin-right: 5px;
                    color: white;
                    text-decoration: none;
                    letter-spacing: .01rem;
                    font-size: 1.1rem;
                    font-weight: 500;
                    text-transform: capitalize;
                }

                .btn:hover{
                    background-color: lightsalmon;
                }
                
                .container-icons{
                    color: #fff;
                    margin-bottom: 1rem;
                    display: flex;
                    -webkit-box-orient: horizontal;
                    -webkit-box-direction: normal;
                    flex-direction: row;
                    flex-wrap: nowrap;

                    .box-icon{
                       margin-right: 8px;
                       margin-top: 10px;
                       position: relative; 

                       [class*=" devicon-"], [class^="devicon-"]{
                           font-family: devicon;
                           font-style: normal;
                           font-weight: 500;
                           font-variant: normal;
                           text-transform: none;
                           line-height: 1;
                           color: black;
                           font-size:30px;
                           -moz-osx-font-smoothing: grayscale;
                       }
                    }

                }
        }


    }

}