@import "../../global.scss";

.contact {
    background-color: white;
    display: flex;
    padding-top:80px;

    .wrapper{

        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        padding: 0 12%;

        @include mobile{
            padding: 0 5%;
        }

        h2{
            font-size: 1.2rem;
            letter-spacing: 0.06rem;
            color: $mainColor;
            margin: 0 0 10px;
        }

        h3{
            font-size: 2.1rem;
            line-height: 1.3;
            text-transform: capitalize;
            margin: 0 0 1rem;
            color: lightskyblue;

            @include mobile{
                font-size: 1.5rem;
            }
        }

        .content{
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            flex-direction: row;
            flex-wrap: nowrap;
            -webkit-box-pack: justify;
            justify-content: space-between;
            -webkit-box-align: start;
            align-items: flex-start;

            @include mobile{
                flex-wrap: wrap;
                justify-content: space-around;
            }

            .form{
                width: 62%;

                @include mobile{
                    width: 100%;
                }

                p{
                    margin-top: 20px;
                    line-height: 1.55;
                    font-size: 1.2rem;

                    @include mobile{
                        font-size: 1rem;
                    }
                }

                form{
                    width: 90%;
                    height: 90%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;

                    input{
                        margin-top: 35px;
                        width: 80%;
                        height: 30px;
                        font-size: 1rem;
                    }

                    textarea{
                        width: 80%;
                        height: 200px;
                        font-size: 1rem;
                        margin-bottom: 35px;
                        margin-top: 35px;
                    }

                    button{
                        width: 150px;
                        height: 30px;
                        font-size: 1.1rem;
                        color: white;
                        background-color: lightskyblue;
                        font-weight: 500;
                        border: none; 
                    }

                    button:hover{
                        background-color: lightsalmon;
                    }
                }
            }

            .social{
                padding: 126px 0 0 45px;
                width: 37%;

                @include mobile{
                    margin-top: 30px;
                    width: 100%;
                    padding: 0;
                }

                p{
                    line-height: 1.55;
                    font-size: 1.2rem;
                    margin-bottom: 25px;

                    @include mobile{
                        font-size: 1rem;
                    }
                }

                .social-icons{
                    max-width:500px;
                    overflow-x: hidden;
                    margin: 0;

                    @include mobile{
                        width: 100%;
                    }

                    ul{
                        display:flex;
                        flex-direction:row;
                        flex-wrap: wrap;
                        align-items: center;
                        float: left;
                        justify-content: space-evenly;

                        @include mobile{
                            justify-content: space-between;
                            align-items: center;
                            display: flex-start;
                            margin-bottom: 20px;
                        }

                        li{
                            width: 25px;
                            height: 25px;
                            transform: scale(1);
                            list-style-type: none;
                            margin: 22px;
                            padding: 0;

                            @include mobile{
                                width: 22px;
                                height: 22px;
                            }
                            a{
                                color:$mainColor;
                                text-decoration: none;
                                letter-spacing: 0.1rem;
                                font-size: 1.1rem;
                                font-weight: 700;
                                font-style:italic;
                                text-transform: capitalize;
                                color: lightskyblue;

                                @include mobile{
                                    font-size: 1rem;
                                }

                                a:hover{
                                    color: lightsalmon;
                                }

                                .fa:hover{
                                    color: lightsalmon;
                                }

                                i{
                                    font-style: normal;
                                    font-variant: normal;
                                    text-rendering: auto;
                                    display: inline-block;
                                    line-height: 1;
                                    font-size: 1.6rem;
                                }

                            }

                        }
                    }
                }
            }
        }

    }


}